.loadmore {
    text-align: center;
    margin: 20px 0;
}   
.loadmore-btn {
    padding: 10px 40px;
    border: 2px solid var(--black-color);
    color: var(--text-color);
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: 1s all ease;
}
.loadmore-btn::before{
    background-color: var(--black-color);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 0;
    height: 100%;
}
.loadmore-btn:hover::before {
    width: 100%;
}
.loadmore-btn:hover {
    text-decoration: none;
    color: var(--white-color);
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
    transition: 0.3s; 
}

.card-title {
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 700;
    
}

.card-text.custom__name-product {
    color: #3d3d3d; 
    font-size: 14px;
    margin-bottom: 2px;
}
.card-text{
    font-size: 16px;
}

.card-body{
    height: 170px;
}
.order_code{
    color: #FE4B5E;
}
.total_price{
    color: blue;
}
.createdAt{
    color: rgb(207, 151, 46);
}