/* .content {
    margin-top: 10px;
}
.main-header a{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 500;
}
.main-header a:hover {
    text-decoration: none;
}
.main-customer-info {
    display: flex;
    margin-bottom: 20px;
}
.main-customer-info-logged {
    font-size: 16px;
    margin-left: 25px;
}
.form-label {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    line-height:1.8rem;
    padding-bottom: 6px;
}
.form-control {
    height: 50px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: unset !important;
    outline: none !important;
    font-size: 1.4rem;
}
.form-control:focus {
    border-color: unset !important;
    border: 1px solid #1dbfaf !important;
}
.form-control:hover {
    border-color: #1dbfaf;
}
.form-group.invalid .form-control {
    border-color: #f33a58;
}
.form-group.invalid .form-message {
    color: #f33a58;
}
.main-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.continue a{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
}
.fi-rs-angle-left {
    font-size: 16px !important;
    font-weight: 600;
}
.continue a:hover {
    text-decoration: none;
}
.btn-pay {
    padding: 20px 40px;
    width: 100%;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
}
.sliderbar {
    margin-top: 30px;
    
}
.row-sliderbar {
    margin: 10px 0;
}
.col-2 span {
    font-size: 16px;
}
.col-6 span {
    font-size: 16px;
}
.slider-footer {
    margin-top: 20px;
}
.row-sliderbar-footer {
    margin: 20px 0;
}
.col-4 img {
    position: relative;
}
.notice {
    position: absolute;
    background-color: #d9121f;
    color: var(--white-color);
    padding: 1px 6px;
    font-size: 10px;
    border-radius: 50%;
    top: -8px;
    right: 34px;
}

.summary {
   
    border-bottom: 1px solid #000;
    padding: 10px 5px;
}
.summary-heading {
    display: flex;
    justify-content: space-between;
} */

/* -------- */

/* body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
} */

.container-order {
  width: 1100px;

  margin: 30px auto;
  background: #fff;
  padding: 0px 40px 20px 40px;
  border-radius: 10px;
  /* display: flex;
  justify-content: center; */
  font-size: 14px
}

h1 {
  text-align: center;
  color: #ff4d5a;
  font-size: 30px;
  margin-top: 20px;
}
/* .left-order{
    width: 70%;
} */

.checkout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
}

/* LEFT */
.left-order label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.left-order input,
.left-order select,
.left-order textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* RIGHT */
.right-order {
  background: #fafafa;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-top: 68px;
}

.product {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 8px;
  background-color: #ffc1c350;
}

.product img {
  width: 100px;
  height: 90px;
  border-radius: 10px;
  margin: 15px 5px;
}
.product-info{
    margin-left: 10px;
}

.price {
  color: #ff4d5a;
  font-weight: bold;
}

.voucher {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.voucher input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #656464dd;
}

.voucher button {
  background: #ff4d5a;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
}
.address-input{
  display: flex;
  gap: 10px;
}
.address-input input{
    flex: 1;
    padding: 10px;
    width: 100%;
}
.address-input button {
  background: #ff4d5a;
  color: #fff;
  border: none;
  border-radius: 6px;
  height: 37px;
  margin-top: 5px;
  padding: 10px;
}

.summary{
    background-color: #ffc1c350;
    border-radius: 15px;
    padding: 5px 20px;
}
.summary p {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
}

.summary .total {
  font-size: 18px;
  color: red;
  font-weight: bold;
}

/* ACTION */
.action {
  text-align: right;
  margin-top: 20px;
}

.action button {
  background: #ff4d5a;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
}

.infor{
    margin-bottom: 20px
}
h2{
    font-style: italic;
}
.right-order label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
